@font-face {
    font-family: 'Abolition Regular';
  src: url('../font/aboliotiom-reguler-webfont.woff') format('woff');  
}
html {
    font-size: 1.25em; /* 20px on most screens */
    font-family: 'Abolition Regular', sans-serif;
    
    
  }
body{
    background-color: yellow;
    margin: 200px;
    padding: 100px;
    
}
.text h1{
    
    text-align: center;
    color: #f9db68;
    text-shadow: 5px 5px 0 #fff;
    
}
    